<md-table #table [dataSource]="resource">

  <ng-container [cdkColumnDef]="column.id" *ngFor="let column of resource.columns.columns">
    <md-header-cell *cdkHeaderCellDef> {{column.text}}</md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row[column.id]}}</md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="resource.columns.columnIds"></md-header-row>
  <md-row *cdkRowDef="let row; columns: resource.columns.columnIds;" class="table-row"
          (click)="selectRow(row)" [ngClass]="{'selected': isSelected(row)}"></md-row>
</md-table>
