  <art-panel [title]="title">
    <div class="resource-list-content">
      <div art-pagination-toolbar class="pagination-btn-group" role="group">
        <button md-raised-button type="button" [disabled]="!selectedRow">Add to Receipt</button>

        <button md-button type="button" [disabled]="!selectedRow">View</button>
        <button md-button type="button" [disabled]="!selectedRow">Edit</button>
        <button md-button type="button" [disabled]="!selectedRow">Delete</button>
      </div>
      <div>
        <art-table [resource]="resource" (select)="onSelect($event)">
        </art-table>
      </div>
    </div>
  </art-panel>
