<div>
  <art-pagination [title]="title" [pagination]="pagination">
    <div art-pagination-toolbar class="btn-group pagination-btn-group" role="group">
      <button type="button" class="btn btn-primary pagination-btn-group">Add to Receipt</button>
    </div>
    <div art-pagination-toolbar class="btn-group" role="group">
      <button type="button" class="btn btn-secondary">Delete</button>
      <button type="button" class="btn btn-secondary">Edit</button>
      <button type="button" class="btn btn-secondary">View</button>
    </div>
  </art-pagination>
</div>
