<art-card [title]="title">
  <art-error-box [errorMsg]="errorMsg"></art-error-box>
  <div [ngClass]="{'hide': errorMsg}">
    <div class="art-resource-list-toolbar" role="group">
      <button md-raised-button type="button" class="art-add-to-receipt" (click)="onAddToReceipt()"
              [disabled]="disabled()">
        Add to Receipt
      </button>

      <button md-button type="button" class="art-view" (click)="onView()" [disabled]="disabled()">View</button>
      <button md-button type="button" class="art-edit" (click)="onEdit()" [disabled]="disabled()">Edit</button>
      <button md-button type="button" class="art-delete" (click)="onDelete()" [disabled]="disabled()">Delete</button>
      <span class="art-resource-list-toolbar-middle"></span>
      <button md-button color="primary" (click)="onRefresh()"><i class="fa fa-refresh"></i></button>
    </div>
    <div>
      <art-table [table]="table" [dataSource]="dataSource" (rowSelected)="onRowSelection($event)"
                 (page)="onPaginationChange($event)"></art-table>
    </div>
  </div>
</art-card>
