@import "variables";

$border-radius:          2px;
$border-radius-lg:       0;
$border-radius-sm:       0;

$btn-border-radius:   2px;
$btn-border-radius-lg:0px;
$btn-border-radius-sm:0px;

/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/font-awesome/scss/font-awesome";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0;
  font-family: Helvetica;
}
.hide {
  display: none !important;
}

.art-capitalize {
  text-transform: capitalize;
}
.art-snack-error {
  background-color: $error-color !important;
}
.art-snack-success {
  background-color: $success-color !important;
}

.art-error {
  color: $error-color;
}

.art-search-input {
  width: 33%;
}
