@import "variables";

$border-radius:          2px;
$border-radius-lg:       0;
$border-radius-sm:       0;

$btn-border-radius:   2px;
$btn-border-radius-lg:0px;
$btn-border-radius-sm:0px;

/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/font-awesome/scss/font-awesome";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.all-full-width > * {
  width: 100%;
}
.active-route{
  background-color: deepskyblue !important;
}

.card-controls * {
  margin-left: 10px;
}

.collapse-caret {
  //margin-right: 2px;
}
