$border-radius:          2px;
$border-radius-lg:       0;
$border-radius-sm:       0;
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.active-route{
  background-color: deepskyblue !important;
}

.card-controls button{
  margin-left: 10px;
}

